@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a {
		text-decoration: none;
}



.box {
		min-height: 32px;
		min-width: 32px;
		display: block;
		padding: 1em;
}
