{% extends "layouts/default.html" %}
{% block title %}Tailwind CSS in Djula - Common Lisp demo{% endblock %}
{% block content %}
<div id="main">
<h2 class="mt-8 font-semibold text-pink-500 dark:text-pink-400">Build anything</h2>
<p class="mt-4 text-3xl sm:text-4xl text-slate-900 font-extrabold tracking-tight dark:text-slate-50 ">Build whatever you want,&nbsp;seriously.</p>
<p class="mt-4 max-w-3xl space-y-6 ">Because Tailwind is so low-level, it never encourages you to design the same site twice. Even with the same color palette and sizing scale, it's easy to build the same component with a completely different look in the next project.</p>


	</div>
{% endblock %}
