{% extends "layouts/default.html" %}
{% block title %}Tailwind CSS in Djula - Common Lisp demo{% endblock %}
{% block content %}
<div id="main">
  Welcome to <a href="http://8arrow.org/caveman/">Caveman2</a>!
	<div class="flex">
	<h3 class="text-gray-50">gray-50</h3>
	<h3 class="text-gray-100">gray-100</h3>
	<h3 class="text-gray-200">gray-200</h3>
	<h3 class="text-gray-300">gray-300</h3>
	<h3 class="text-gray-400">gray-400</h3>
	<h3 class="text-gray-500">gray-500</h3>
	<h3 class="text-gray-600">gray-600</h3>
	<h3 class="text-gray-700">gray-700</h3>
	<h3 class="text-gray-800">gray-800</h3>
	<h3 class="text-gray-900">gray-900</h3>
	</div>

	<div class="flex">
	<h3 class="text-red-50">red-50</h3>
	<h3 class="text-red-100">red-100</h3>
	<h3 class="text-red-200">red-200</h3>
	<h3 class="text-red-300">red-300</h3>
	<h3 class="text-red-400">red-400</h3>
	<h3 class="text-red-500">red-500</h3>
	<h3 class="text-red-600">red-600</h3>
	<h3 class="text-red-700">red-700</h3>
	<h3 class="text-red-800">red-800</h3>
	<h3 class="text-red-900">red-900</h3>
	</div>

	<div class="flex">
		<div class="box bg-red-50"></div>
		<div class="box bg-red-100"></div>
		<div class="box bg-red-200"></div>
		<div class="box bg-red-300"></div>
		<div class="box bg-red-400"></div>
		<div class="box bg-red-500"></div>
		<div class="box bg-red-600"></div>
		<div class="box bg-red-700"></div>
		<div class="box bg-red-800"></div>
		<div class="box bg-red-900"></div>
		</div>

	<h1 class="text-xl text-2xl text-slate-500">slate</h1>
	<h1 class="text-gray-500">gray</h1>
	<h1 class="text-zinc-500">zinc</h1>
	<h1 class="text-neutral-500">neutral</h1>
	<h1 class="text-stone-500">stone</h1>
	<h1 class="text-red-500">red</h1>
	<h1 class="text-orange-500">orange</h1>
	<h1 class="text-amber-500">amber</h1>
	<h1 class="text-yellow-500">yellow</h1>
	<h1 class="text-lime-500">lime</h1>
	<h1 class="text-green-500">green</h1>
	<h1 class="text-emerald-500">emerald</h1>
	<h1 class="text-teal-500">teal</h1>
	<h1 class="text-cyan-500">cyan</h1>
	<h1 class="text-sky-500">sky</h1>
	<h1 class="text-blue-500">blue</h1>
	<h1 class="text-indigo-500">indigo</h1>
	<h1 class="text-violet-500">violet</h1>
	<h1 class="text-purple-500">purple</h1>
	<h1 class="text-fuchsia-500">fuchsia</h1>
	<h1 class="text-pink-500">pink</h1>
	<h1 class="text-rose-500">rose</h1>
</div>
{% endblock %}
